.tourMain {
    display: flex;
}

.high {
    border: 3px solid blue;
    width: 100%;
    height: 500px;
}

.left {
    position: relative;
    border: 1px solid red;  /*나중에 지워야됨*/
    width: 50%;
    min-height: 600px;

    left: 0;
}

.leftImg {
    position: relative;
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

#seoul, label[for="seoul"] {
    position: absolute;
    left: 40%;
    bottom: 73%;
}

#busan, label[for="busan"] {
    position: absolute;
    left: 71%;
    bottom: 35%;
}

#daegu, label[for="daegu"] {
    position: absolute;
    left: 64%;
    bottom: 47%;
}

#incheon, label[for="incheon"] {
    position: absolute;
    left: 34%;
    bottom: 70%;
}

#gwangju, label[for="gwangju"] {
    position: absolute;
    left: 35%;
    bottom: 32%;
}

#daejeon, label[for="daejeon"] {
    position: absolute;
    left: 44%;
    bottom: 52%;
}

#ulsan, label[for="ulsan"] {
    position: absolute;
    left: 73%;
    bottom: 39%;
}

#sejong, label[for="sejong"] {
    position: absolute;
    left: 42%;
    bottom: 56%;
}

#gyeonggi, label[for="gyeonggi"] {
    position: absolute;
    left: 45%;
    bottom: 71%;
}

#gangwon, label[for="gangwon"] {
    position: absolute;
    left: 59%;
    bottom: 78%;
}

#chungbuk, label[for="chungbuk"] {
    position: absolute;
    left: 49%;
    bottom: 61%;
}

#chungnam, label[for="chungnam"] {
    position: absolute;
    left: 35%;
    bottom: 55%;
}

#gyeongbuk, label[for="gyeongbuk"] {
    position: absolute;
    left: 66%;
    bottom: 55%;
}

#gyeongnam, label[for="gyeongnam"] {
    position: absolute;
    left: 60%;
    bottom: 35%;
}

#jeonbuk, label[for="jeonbuk"] {
    position: absolute;
    left: 40%;
    bottom: 42%;
}

#jeonnam, label[for="jeonnam"] {
    position: absolute;
    left: 38%;
    bottom: 28%;
}

#jeju, label[for="jeju"] {
    position: absolute;
    left: 36%;
    bottom: 10%;
}

#mapButton {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.right {
    position: relative;
    width: 50%;
    height: 800px;
    right: 0;
    border: 1px solid black;

}

#tourList {
    height: 800px;
    right: 0;
    overflow-y: scroll;
}

.tourList::-webkit-scrollbar {
    width: 10px;
}
.tourList::-webkit-scrollbar-track {
    background-color: gray;
}
.tourList::-webkit-scrollbar-thumb {
    background-color: skyblue;
}
.tourList::-webkit-scrollbar-button {
    display: none;
}

#tourist {
    overflow: auto;
}

.scrollList {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
}

.api-pic{
    position: relative;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 10px;
    left: 0;
}

.scrollListR {
    position: relative;
    width: 40%;
    right: 0;
}