.tourMain {
    display: flex;
}

.left {
    position: relative;
    border: 1px solid red;  /*나중에 지워야됨*/
    width: 50%;
    min-height: 600px;

    left: 0;
}

.leftImg {
    position: relative;
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

#mapButton {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.right {
    position: relative;
    width: 50%;
    height: 800px;
    right: 0;
    border: 1px solid black;
    overflow-y: scroll;
}

.right::-webkit-scrollbar {
    width: 10px;
}
.right::-webkit-scrollbar-track {
    background-color: gray;
}
.right::-webkit-scrollbar-thumb {
    background-color: skyblue;
}
.right::-webkit-scrollbar-button {
    display: none;
}

#tourist {
    overflow: auto;
}

.api-pic{
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
}